@page "/new"

<PageTitle>Pa pi papi cholo</PageTitle>

<h1>Shaam sawaraa hon mujan he mojan -- ja baa chrseee</h1>

<h1 role="status">Current count: <b style="background-color:red;color:white"> @currentCount </b></h1>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@code {
    private string currentCount = "Pakistan";

    private void IncrementCount()
    {
        if(currentCount == "Pakistan")
        {
            currentCount = "India";
        }
        else
        {
            currentCount = "Pakistan";
        }
    }
}
